<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjc.mapper.ActorMapper">

    <resultMap id="actorMap" type="com.zjc.pojo.Actor">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="birthday" column="birthday"/>
        <result property="sex" column="sex"/>
        <result property="description" column="description"/>
        <result property="pic" column="pic"/>

        <collection property="regions" ofType="com.zjc.pojo.Region">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
        </collection>
    </resultMap>

    <select id="findActor" resultMap="actorMap">
        select iqiyi.actor.*, iqiyi.region.id rid, iqiyi.region.name rname
        from iqiyi.actor
                 left join iqiyi.actor_region on actor.id = actor_region.actorid
                 left join iqiyi.region on actor_region.regionid = region.id
    </select>
    <select id="findActorOne" resultMap="actorMap">
        select iqiyi.actor.*, iqiyi.region.id rid, iqiyi.region.name rname
        from iqiyi.actor
                 left join iqiyi.actor_region on actor.id = actor_region.actorid
                 left join iqiyi.region on actor_region.regionid = region.id
        where actor.id = #{id}
    </select>

    <insert id="saveActor" parameterType="com.zjc.pojo.Actor">
        insert into iqiyi.actor (name,birthday,sex,description,pic)
        values (#{name},#{birthday},#{sex},#{description},#{pic})
        <selectKey order="AFTER" keyProperty="id" resultType="Integer">
            select LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="updateActor" parameterType="com.zjc.pojo.Actor">
        update iqiyi.actor
        set name        = #{name},
            birthday    = #{birthday},
            sex         = #{sex},
            description = #{description},
            pic         = #{pic}
        where id = #{id}
    </update>

    <delete id="deleteActorRegion">
        delete
        from iqiyi.actor_region
        where actorid = #{id}
    </delete>
    <delete id="deleteActor">
        delete
        from iqiyi.actor
        where id = #{id}
    </delete>

</mapper>